* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 100;
}

body {
  background: rgb(24, 24, 48);

}

.app-container {
  background: lightblue;
  width: 50%;
  height: 70vh;
  position: relative;
  margin-top: 10rem;
  text-align: center;
  left: 25%;
  border-radius: .5rem;
}

.item {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

.item input {
  display: block;
  margin: 2rem;
  width: 15rem;
  height: 2rem;
  outline: none;
  font-size: 1rem;
}

.tasks {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

#tasks-list {
  height: 2rem;
  width: 15rem;
  background: black;
  margin: 2rem;
}

.tasks #lists {
  margin-top: 2rem;
}

button {
  height: 2rem;
  width: 4rem;
  outline: none;
}

button:hover {
  cursor: pointer;
  background: rgb(129, 218, 129);
  transition: .5s;
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#listBtn {
  margin-left: 3rem;
}

#listBtn:hover {
  cursor: pointer;
  background: rgb(238, 186, 186);
  transition: .5s;
  border: 1px solid black;
}

ul li {
  margin-bottom: 1rem;
}

 